.scrollable-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}
.scrollable-container label {
    display: block;
    margin-bottom: 5px;
}

button.button-primary {
    margin-top: 10px !important;
}

.inline-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Ensure elements wrap within the container */
}

.styled-dropdown {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    flex: 1 1 auto; /* Allow the dropdown to resize */
    min-width: 100px; /* Minimum width to prevent too small dropdown */
}

.styled-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #0073aa;
    color: #fff;
    cursor: pointer;
    flex: 0 1 auto; /* Allow the button to resize */
}

.styled-button:hover {
    background-color: #005177;
}

.styled-button.remove-role {
    background-color: #d9534f; /* Red color for remove button */
}

.styled-button.remove-role:hover {
    background-color: #c9302c; /* Darker red on hover */
}

.role-badge {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.role-badge .styled-button.remove-role {
    background-color: transparent;
    color: #d9534f;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    padding: 0 2px; /* Adjust padding to make the button smaller */
    font-size: 10px; /* Adjust font size to make the button smaller */
}

.role-badge .styled-button.remove-role:hover {
    color: #c9302c;
}

/* Shooting credentials columns */
.wp-list-table td .dashicons-media-document {
    color: #0073aa;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.4;
}

.wp-list-table td .dashicons-media-document:hover {
    color: #005177;
}

.wp-list-table td a[target="_blank"] {
    text-decoration: none;
}

/* Column widths */
.wp-list-table th:nth-child(4), /* shooting_license column */
.wp-list-table td:nth-child(4) {
    width: 150px;
}

.wp-list-table th:nth-child(5), /* shooting_file column */
.wp-list-table td:nth-child(5) {
    width: 50px;
    text-align: center;
}
