.wpum-login-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.wpum-login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.wpum-login-container label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.wpum-login-container input[type="text"],
.wpum-login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9feff;
    font-size: 14px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.wpum-login-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.wpum-login-container button:hover {
    background: #0056b3;
}

.wpum-login-container p {
    margin-top: 15px;
    text-align: center;
}

.wpum-login-container a {
    color: #007bff;
    text-decoration: none;
}

.wpum-login-container a:hover {
    text-decoration: underline;
}

.wpum-form-group {
    display: block;
    margin-bottom: 15px;
}

.wpum-form-group label {
    display: flex !important;
}

.wpum-form-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.wpum-form-row:last-child {
    align-items: center;
    text-align: center;
}

.wpum-form-row:last-child .wpum-form-group {
    width: 100%;
    max-width: 200px;
}