.sum-profile-edit-container {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
}

.sum-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.sum-tabs button {
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
    text-align: center; /* Ensure text is centered */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.sum-tabs button.active {
    background: #0073aa;
    color: #fff;
}

.sum-tab-content {
    flex: 3;
    display: none;
    flex-direction: column;
}

.sum-tab-content.active {
    display: flex;
}

#logout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sum-logout-button {
    padding: 10px 20px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sum-logout-button:hover {
    background: #c9302c;
}

.sum-tab-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.sum-tab-content input {
    margin-bottom: 10px;
}

.sum-tab-content input[type="text"],
.sum-tab-content input[type="email"],
.sum-tab-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sum-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.sum-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.sum-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.sum-close:hover,
.sum-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sum-cancel {
    margin-left: 10px;
}
