.sum-profile-edit-container {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.sum-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.sum-tabs button {
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
    text-align: center; /* Ensure text is centered */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.sum-tabs button.active {
    background: #0073aa;
    color: #fff;
}

.sum-tab-content {
    flex: 3;
    display: none;
    flex-direction: column;
}

.sum-tab-content.active {
    display: flex;
}

/* #logout {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#sum-logout-button {
    padding: 10px 20px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sum-logout-button:hover {
    background: #c9302c;
}

#sum-delete-account-button {
    padding: 10px 20px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sum-delete-account-button:hover {
    background: #c9302c;
}

.sum-tab-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.sum-tab-content input {
    margin-bottom: 10px;
}

.sum-tab-content input[type="text"],
.sum-tab-content input[type="email"],
.sum-tab-content input[type="password"] {
    width: 100%; /* Adjust width to ensure it fits within the parent container */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.sum-modal {
    display: none !important;
    position: fixed !important;
    z-index: 1000 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.sum-modal-content {
    background-color: #fff !important;
    margin: auto !important; /* Center the modal horizontally */
    position: fixed !important; /* Position the modal absolutely */
    top: 50% !important; /* Position the modal vertically at 50% */
    left: 50% !important; /* Position the modal horizontally at 50% */
    transform: translate(-50%, -50%) !important; /* Offset the modal by 50% of its own width and height */
    padding: 20px !important;
    border: 1px solid #888 !important;
    width: 80% !important;
    max-width: 500px !important;
    text-align: center !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3) !important;
}

.sum-modal-content button[type="submit"] {
    padding: 10px 20px !important;
    background: #d9534f !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.sum-modal-content button[type="submit"]:hover {
    background: #c9302c !important;
}

.sum-close {
    color: #aaa !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.sum-close:hover,
.sum-close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.sum-cancel {
    margin-left: 10px !important;
}
